*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background-image: url(https://e0.pxfuel.com/wallpapers/431/433/desktop-wallpaper-pokemon-minimalistic-dark-poke-balls-high-quality-high-definition-dark-pokeball.jpg);
    /* background-size: 100%; */
}

.head{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -60px;
}
.head img{
    height: 50vh;
    min-width: 200px;
}

footer{
    text-align: center;
    color: white;
  padding-bottom: 50px;
}
